@import "../../../../variables.scss";
.carousel {
  height: 461px;
  background-color: $mainBackground;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.carousel-img {
  width: 40vw;
  height: 461px;
  display: flex;
  justify-content: center;
}
.carousel-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 461px;
  // font-family: "Pretendard-Regular";
  font-family: Pretendard sans-serif;
  p {
    font-size: 35px;
    color: #4d4444;
  }
  .bold {
    font-weight: 900;
  }
  span {
  margin-top: 20px;
    color: #736e29;
  }
}
