$mainBackground: #efefde;
$brown: #6b3f36;
$oliveGreen: #736e29;
$white:#fcfaf6;
$darkBrown:#2D1009;
$fontGrey:#D7BFB9;
:export {
  $mainBackground: #efefde;
  $brown: #6b3f36;
  $oliveGreen: #736e29;
  $white:#fcfaf6;
  $darkBrown:#2D1009;
  $fontGrey:#D7BFB9;
}
